language: java # node_js won't let you set jdk version
sudo: false # use container based infrastructure
services: postgresql
env:
    global:
        - TESTMODEL_URL=http://localhost:8080/intermine-demo
        - TESTMODEL_PATH=intermine-demo
before_install:
    - ./config/travis/init.sh
    - npm install -g codo
script:
    - npm test
node_js:
    - '10.15.2'
jdk:
    - openjdk8
