<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <title>IMJS Tests</title>
        <link rel="stylesheet" href="<%= mocha.css %>" type="text/css" media="screen"
              charset="utf-8">
    </head>
    <body>
        <!-- Browser Reporter Requires this Div -->
        <div id="mocha"></div>

        <!-- TODO: Make all this configurable, and build a version for jenkins --> 
        <!-- for local get from components, and do like this for jenkins -->
        <!-- Test Infrastructure -->
        <script src="<%= mocha.js %>"></script>
        <script>mocha.setup('bdd');</script>

        <script src="<%= chai %>" type="text/javascript"></script>
        <script>
            var should = chai.should();
            var expect = chai.expect;
        </script>

        <!-- Library Under Test -->
        <script src="<%= jquery %>"></script>
        <script src="<%= underscore %>"></script>

        <!-- One of these should work. -->
        <script src="<%= imjs %>" type="text/javascript"></script>

        <!-- Tests -->
        <script src="acceptance.js"></script>
        <script>
            if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
            else { mocha.run(); }
        </script>
    </body>
</html>

