body {
  padding: 1em;
  font-family: "Roboto", arial, sans-serif;
}
nav {
  display: flex;
}
nav a {
  background-color: #3D5AFE;
  color: #fff;
  padding: 0.5em 1em;
  margin: 0.5em;
  display: flex;
  text-decoration: none;
  border-radius: 2px;
  border-right: solid 3px #0a2ffe;
  border-bottom: solid 3px #0125ed;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
nav a:hover {
  color: #fff;
  background-color: #7085fe;
  border-right: solid 3px #3D5AFE;
  border-bottom: solid 3px #2444fe;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.25em;
}
